workflows/Vocily-Labs_Lookup.json
{"updatedAt":"2026-06-17T07:42:48.629Z","createdAt":"2026-06-16T18:35:02.091Z","id":"QWRu5KjmAes26om0","name":"Vocily-Labs Lookup","description":null,"active":true,"isArchived":false,"nodes":[{"name":"Lookup Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"GET","path":"vocily-labs-lookup","responseMode":"lastNode","options":{}},"webhookId":"vocily-labs-lookup","id":"84edc0a9-13b4-447f-ba62-102f7fea5bab"},{"name":"Read Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"parameters":{"documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"cc7b926a-8587-4793-8128-eea46dcef8ae"},{"name":"Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"parameters":{"jsCode":"\nconst q = ($('Lookup Webhook').first().json.query)||{};\nconst raw=String(q.phone||'').replace(/\\D/g,''); const last10=raw.slice(-10);\nconst rows=$input.all().map(i=>i.json);\nconst norm=(p)=>String(p||'').replace(/\\D/g,'').slice(-10);\nconst matches=(last10.length===10)?rows.filter(r=>norm(r.Phone)===last10):[];\nif(!matches.length) return [{json:{found:false,phone:last10}}];\nreturn matches.map(r=>({json:{found:true,VOC_id:r.VOC_id,Token:r.Token,Name:r.Name,Phone:r.Phone,Test:r.Test,Mode:r.Mode,Status:r.Status,ReportStatus:r.ReportStatus,report_sent_at:r.report_sent_at,BookedAt:r.BookedAt}}));\n"},"id":"35b08924-d78c-4964-971b-f6044cfd710e"}],"connections":{"Lookup Webhook":{"main":[[{"node":"Read Sheet","type":"main","index":0}]]},"Read Sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"9fe042b1-88bb-456f-bf63-bd25e892f1d9","activeVersionId":"9fe042b1-88bb-456f-bf63-bd25e892f1d9","versionCounter":2,"triggerCount":1,"shared":[{"updatedAt":"2026-06-16T18:35:02.091Z","createdAt":"2026-06-16T18:35:02.091Z","role":"workflow:owner","workflowId":"QWRu5KjmAes26om0","projectId":"vjeKpcnDLTd7l9uC","project":{"updatedAt":"2026-06-09T06:24:50.479Z","createdAt":"2026-06-08T18:07:29.874Z","id":"vjeKpcnDLTd7l9uC","name":"abhishek sonawane <abhishek.sonaw@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a322d73f-bada-4a4f-b600-574326e56821"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-17T07:42:48.631Z","createdAt":"2026-06-17T07:42:48.631Z","versionId":"9fe042b1-88bb-456f-bf63-bd25e892f1d9","workflowId":"QWRu5KjmAes26om0","nodes":[{"name":"Lookup Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"GET","path":"vocily-labs-lookup","responseMode":"lastNode","options":{}},"webhookId":"vocily-labs-lookup","id":"84edc0a9-13b4-447f-ba62-102f7fea5bab"},{"name":"Read Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"parameters":{"documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"cc7b926a-8587-4793-8128-eea46dcef8ae"},{"name":"Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"parameters":{"jsCode":"\nconst q = ($('Lookup Webhook').first().json.query)||{};\nconst raw=String(q.phone||'').replace(/\\D/g,''); const last10=raw.slice(-10);\nconst rows=$input.all().map(i=>i.json);\nconst norm=(p)=>String(p||'').replace(/\\D/g,'').slice(-10);\nconst matches=(last10.length===10)?rows.filter(r=>norm(r.Phone)===last10):[];\nif(!matches.length) return [{json:{found:false,phone:last10}}];\nreturn matches.map(r=>({json:{found:true,VOC_id:r.VOC_id,Token:r.Token,Name:r.Name,Phone:r.Phone,Test:r.Test,Mode:r.Mode,Status:r.Status,ReportStatus:r.ReportStatus,report_sent_at:r.report_sent_at,BookedAt:r.BookedAt}}));\n"},"id":"35b08924-d78c-4964-971b-f6044cfd710e"}],"connections":{"Lookup Webhook":{"main":[[{"node":"Read Sheet","type":"main","index":0}]]},"Read Sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"nodeGroups":[],"authors":"abhishek sonawane","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-17T07:42:48.732Z","id":193,"workflowId":"QWRu5KjmAes26om0","versionId":"9fe042b1-88bb-456f-bf63-bd25e892f1d9","event":"deactivated","userId":"a322d73f-bada-4a4f-b600-574326e56821"},{"createdAt":"2026-06-17T07:42:48.769Z","id":194,"workflowId":"QWRu5KjmAes26om0","versionId":"9fe042b1-88bb-456f-bf63-bd25e892f1d9","event":"activated","userId":"a322d73f-bada-4a4f-b600-574326e56821"}]}}