workflows/Vocily-Labs_Inbound-Router.json
{"updatedAt":"2026-06-20T21:29:12.194Z","createdAt":"2026-06-16T18:09:31.878Z","id":"LpnFG9kwWAdQOkiw","name":"Vocily-Labs Bot — Inbound Router","description":null,"active":true,"isArchived":false,"nodes":[{"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"vocily-labs-in","responseMode":"onReceived","options":{}},"webhookId":"vocily-labs-in","id":"d2a7684c-e8cf-4334-8326-00faf627a58e"},{"name":"Brain","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"\n// === Vocily-Labs Brain v3 — context-aware AI dialogue manager + deterministic actions ===\nconst LAB={name:\"Kushal Pathology Lab\",area:\"CIDCO, N-5\",phones:\"+91 86001 64111 / +91 99213 00025\",hours:\"7:00 AM – 11:00 PM (all days)\",packages:[[\"Diabetic Package\",\"₹390\"],[\"Package A\",\"₹2,000\"],[\"Package B\",\"₹3,000\"],[\"Arthritis Package\",\"₹2,500\"],[\"Full Health Checkup (M/F)\",\"₹3,899\"]]};\nconst GEM_KEYS=[\"<GEMINI_API_KEY_1>\",\"<GEMINI_API_KEY_2>\",\"<GEMINI_API_KEY_3>\",\"<GEMINI_API_KEY_4>\"];\nconst LOOKUP_URL=\"https://n8n.rohinisonawane.com/webhook/vocily-labs-lookup\";\nconst wh=$('Webhook').first().json; const bodyTop=wh.body||wh; const p=bodyTop.payload||bodyTop;\nconst fromRaw=p.from||p.chatId||''; let text=String(p.body||p.text||'').trim();\nconst isGroup=String(fromRaw).includes('@g.us')||String(fromRaw).includes('@broadcast');\nconst altJid=((((p._data||{}).key||{}).remoteJidAlt)||'');\nlet src=altJid||fromRaw; let digits=String(src).replace(/\\D/g,'');\nif(digits.length===11&&digits[0]==='0')digits='91'+digits.slice(1);\nif(digits.length===10)digits='91'+digits;\nlet chatId; if(digits && (altJid || !String(fromRaw).includes('@lid'))) chatId=digits+'@c.us'; else chatId=String(fromRaw);\nconst waPhone=digits;\nconst _m=p.media||null; const _mime=(_m&&_m.mimetype)||''; const hasDoc=(_mime.indexOf('image/')===0||_mime==='application/pdf')&&!!(_m&&_m.url);\nif(!chatId||p.fromMe||(!text&&!hasDoc)){ return []; }\nconst store=$getWorkflowStaticData('global'); if(!store.sessions)store.sessions={}; if(!store.counters)store.counters={};\nlet s=store.sessions[waPhone]||{data:{},history:[]}; if(!s.history)s.history=[];\nconst lc=text.toLowerCase().trim();\nconst istDate=new Date().toLocaleDateString('en-CA',{timeZone:'Asia/Kolkata'}); const compact=istDate.replace(/-/g,''); const nowISO=new Date().toISOString();\nconst istH=Number(new Intl.DateTimeFormat('en-GB',{timeZone:'Asia/Kolkata',hour:'numeric',hourCycle:'h23'}).format(new Date()));\nconst isOpen=(istH>=7 && istH<23);\nconst AH=isOpen?\"\":\"\\n\\n\\uD83C\\uDF19 Note: we're currently *closed* (open 7 AM\\u201311 PM). Your request is saved \\u2014 our team will assist you first thing in the morning.\";\nconst save=(reply,extra)=>{s.history.push({r:'b',t:reply}); if(s.history.length>12)s.history=s.history.slice(-12); store.sessions[waPhone]=s; return [{json:Object.assign({chatId,replyText:reply,waPhone,doBook:false},extra||{})}];};\nconst pkgText=LAB.packages.map(x=>\"• \"+x[0]+\" — \"+x[1]).join(\"\\n\");\nconst MENU=\"🧪 Welcome to \"+LAB.name+\" (\"+LAB.area+\").\\n\\nHow can I help you today?\\n\\n1️⃣ Book a test (walk-in token)\\n2️⃣ Home sample collection\\n3️⃣ Report status\\n4️⃣ Timings & prices\\n\\nReply with a number, or just tell me what you need.\";\nconst TIMINGS=\"🕖 *Timings:* \"+LAB.hours+\"\\n📍 *Location:* \"+LAB.area+\"\\n☎️ \"+LAB.phones+\"\\n\\n💰 *Popular packages:*\\n\"+pkgText+\"\\n\\nReply 1 to book, or MENU for options.\";\nconst newRef=()=>{const n=(store.counters[compact]||0)+1;store.counters[compact]=n;return {n,voc:\"VOC-\"+compact+\"-\"+String(n).padStart(3,'0')};};\nconst makeBooking=(name,test)=>{const r=newRef();const row={VOC_id:r.voc,Token:r.n,Name:name,Phone:waPhone,Test:test,Mode:\"Walk-in\",Address:\"\",ApptISO:\"\",Status:\"NEW\",ReportStatus:\"Pending\",report_uploaded_at:\"\",report_sent_at:\"\",Source:(isOpen?\"WhatsApp\":\"WhatsApp (after-hours)\"),consent_flag:\"Y\",BookedAt:nowISO,Reminder:\"\",Followup:\"\"};const reply=\"✅ *Booked!* Your token is *#\"+r.n+\"*.\\n\\n🧪 \"+test+\"\\n👤 \"+name+\"\\n🏷️ \"+r.voc+\"\\n📍 \"+LAB.name+\", \"+LAB.area+\"\\n🕖 \"+LAB.hours+\"\\n\\nPlease visit the lab and show token *#\"+r.n+\"* at the desk. We'll message you here when your report is ready. Reply MENU anytime.\";return save(reply+AH,{doBook:true,bookingRow:row});};\nconst makeHome=(name,test,addr,time)=>{const r=newRef();const a=addr+(time?(\" | preferred: \"+time):\"\");const row={VOC_id:r.voc,Token:r.n,Name:name||\"\",Phone:waPhone,Test:test||\"(to confirm)\",Mode:\"Home\",Address:a,ApptISO:time||\"\",Status:\"NEW\",ReportStatus:\"Pending\",report_uploaded_at:\"\",report_sent_at:\"\",Source:(isOpen?\"WhatsApp\":\"WhatsApp (after-hours)\"),consent_flag:\"Y\",BookedAt:nowISO,Reminder:\"\",Followup:\"\"};const reply=\"🏠 *Home collection request received!* (Ref \"+r.voc+\")\\n\\n🧪 \"+(test||\"as discussed\")+\"\\n📍 \"+addr+(time?(\"\\n🕒 Preferred time: \"+time):\"\")+\"\\n\\nOur team will *call you shortly* to confirm the visit. Reply MENU anytime.\";return save(reply+AH,{doBook:true,bookingRow:row});};\nconst lookup=async(phone)=>{try{const r=await this.helpers.httpRequest({method:'GET',url:LOOKUP_URL,qs:{phone},json:true});return Array.isArray(r)?r:[r];}catch(e){return [{found:false}];}};\nconst reportReply=(rows)=>{const found=rows.filter(r=>r&&r.found);if(!found.length){return save(\"🔎 I couldn't find a booking under this number. Please reply with the *mobile number* you registered at the lab (10 digits).\");}let msg=\"🔎 *Your report status:*\";for(const r of found){const st=String(r.ReportStatus||'').toLowerCase();if(st.indexOf('ready')>=0)msg+=\"\\n✅ \"+r.Test+\" — *Ready*. Our desk will share the report here shortly.\";else if(st.indexOf('process')>=0)msg+=\"\\n⏳ \"+r.Test+\" — *In process*. We'll send it here as soon as it's ready.\";else if(st.indexOf('sent')>=0)msg+=\"\\n📄 \"+r.Test+\" — already *sent*\"+(r.report_sent_at?(\" on \"+r.report_sent_at):\"\")+\".\";else msg+=\"\\n• \"+r.Test+\" — \"+(r.ReportStatus||'Pending');}return save(msg+\"\\n\\nReply MENU for more options.\");};\nconst doCancel=(voc)=>{ return save(\"\\u2705 Your booking has been *cancelled*. Reply 1 anytime to book again \\u2014 take care! \\uD83C\\uDF3F\",{doCancel:true,cancelVoc:voc}); };\nconst cancelFlow=async()=>{\n  const rows=await lookup(waPhone);\n  const open=(rows||[]).filter(r=>r&&r.found&&String(r.Status||'').toUpperCase()==='NEW');\n  if(!open.length) return save(\"You don't have any open booking to cancel under this number. If your sample is already collected, please call us: \"+LAB.phones+\".\");\n  if(open.length===1){ const r=open[0]; s.pendingCancel=r.VOC_id; return save(\"Cancel your *\"+(r.Test||'booking')+\"*\"+(r.Token?(\" (token #\"+r.Token+\")\"):\"\")+\"? Reply *YES* to confirm, or NO to keep it.\"); }\n  s.cancelOptions=open.map(r=>({voc:r.VOC_id,token:String(r.Token||''),test:r.Test||''}));\n  let m=\"You have these open bookings:\\n\"; open.forEach(r=>{m+=\"\\u2022 token #\"+(r.Token||'?')+\" \\u2014 \"+(r.Test||'')+\"\\n\";});\n  return save(m+\"\\nReply the *token number* you want to cancel.\");\n};\nconst dialog=async(transcript)=>{const sys=\"You are the friendly WhatsApp front desk for \"+LAB.name+\", a pathology lab in Aurangabad, India. Reply in the patient's own language (English/Hindi/Marathi/Hinglish), warm and concise.\\nLab info: hours \"+LAB.hours+\"; location \"+LAB.area+\"; phones \"+LAB.phones+\". Pathology only (blood/urine; NO X-ray/USG/scans). Published packages: \"+LAB.packages.map(x=>x[0]+\" \"+x[1]).join(\", \")+\". Other individual test prices are NOT published — for those tell the patient to confirm at the desk/phone. NEVER invent prices or tests.\\nDecide the next step using the WHOLE conversation (consider context, not just the last line). Respond ONLY as strict JSON: {\\\"action\\\":\\\"\\\",\\\"name\\\":\\\"\\\",\\\"test\\\":\\\"\\\",\\\"area\\\":\\\"\\\",\\\"time\\\":\\\"\\\",\\\"phone\\\":\\\"\\\",\\\"reply\\\":\\\"\\\"}.\\naction is one of: ask, book_walkin, book_home, report_status, cancel, answer, menu. (cancel = the patient wants to CANCEL an existing booking / test / home collection, e.g. 'cancel my test', 'booking cancel karna hai'.)\\n- book_walkin (DEFAULT for any booking): patient wants a test done / to book a test / visit the lab, and you have their name AND test. Treat plain 'book a test' as walk-in.\\n- book_home: ONLY if the patient EXPLICITLY asks for home collection / sample pickup at home / 'ghar'. Needs the test AND the PATIENT'S OWN home address. NEVER use the lab's location (CIDCO / N-5) as the address; if no patient address is given, use action 'ask' to request it.\\n- report_status: patient asks if their report/result is ready. Put a registered mobile number in 'phone' if they gave one, else ''.\\n- answer: prices, timings, location, fasting/preparation, clarifications, complaints, small talk — put the FULL reply in 'reply'.\\n- ask: you still need one detail to finish a booking — put the question in 'reply' and carry forward known name/test/area/time in their fields.\\n- menu: patient greets or asks for options.\\nAlways fill name/test/area/time/phone with everything known from the WHOLE conversation so far.\\nIf the history shows a booking or home-collection was ALREADY confirmed, do NOT create another — use 'answer' for follow-ups (e.g., if they ask when the team will visit, reassure that the team will call to confirm; do NOT ask for the area again).\\nFor book_walkin/book_home/report_status set 'reply' to '' (the system sends the official confirmation).\";const body={contents:[{parts:[{text:sys+\"\\n\\nCONVERSATION SO FAR:\\n\"+transcript+\"\\n\\nReturn ONLY the JSON decision for the latest Patient message.\"}]}],generationConfig:{responseMimeType:\"application/json\",temperature:0.3}};for(const k of GEM_KEYS){try{const r=await this.helpers.httpRequest({method:'POST',url:'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key='+k,headers:{'Content-Type':'application/json'},body,json:true,timeout:20000});const cand=(r.candidates||[])[0]||{};const txt=(((cand.content||{}).parts||[])[0]||{}).text||'{}';return JSON.parse(txt);}catch(e){}}return null;};\nif(hasDoc && !isGroup){\n  const FB='📄 Thanks! I could not clearly read a test name from that image. Please *type the test name* (for example: CBC, Lipid Profile, Thyroid, Vitamin D) and I will tell you right away if we do it. 🙏';\n  let furl=_m.url;\n  try{ const u=new URL(_m.url); if(/^(localhost|127\\.0\\.0\\.1|waha)$/i.test(u.hostname)) furl='http://waha:3000'+u.pathname+(u.search||''); }catch(e){}\n  let b64='';\n  try{ const bytes=await this.helpers.httpRequest({method:'GET',url:furl,encoding:'arraybuffer',timeout:15000}); b64=Buffer.from(bytes).toString('base64'); }catch(e){ return save(FB); }\n  if(!b64 || b64.length>20000000){ return save(FB); }\n  const EP='You are reading an image or PDF sent to a PATHOLOGY lab WhatsApp. Extract ONLY the names of medical tests, scans or investigations that appear (requested or reported). For each test set category to EXACTLY one of: pathology (blood, urine, stool, biochemistry, hematology, serology, hormones, microbiology, histopathology), imaging (x-ray, ultrasound, USG, sonography, CT, MRI, mammography, DEXA, ECG, echo, doppler), or other. Return ONLY strict JSON like {\"readable\":true,\"tests\":[{\"name\":\"CBC\",\"category\":\"pathology\"}]}. Set readable to false if you cannot clearly read any test name or it is not a medical document. Output NOTHING except test names and categories: no values, no ranges, no diagnosis, no patient details.'+(text?(' The sender also wrote: '+text):'');\n  const vbody={contents:[{parts:[{inlineData:{mimeType:_mime,data:b64}},{text:EP}]}],generationConfig:{responseMimeType:'application/json',temperature:0.1}};\n  let res=null;\n  for(const k of GEM_KEYS){ try{ const r=await this.helpers.httpRequest({method:'POST',url:'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key='+k,headers:{'Content-Type':'application/json'},body:vbody,json:true,timeout:30000}); const t=((((r.candidates||[])[0]||{}).content||{}).parts||[{}])[0].text||'{}'; res=JSON.parse(t); break; }catch(e){} }\n  if(!res || res.readable===false){ return save(FB); }\n  const tests=(res.tests||[]).filter(t=>t&&t.name);\n  if(!tests.length){ return save(FB); }\n  const nm=a=>a.map(t=>t.name).join(', ');\n  const pth=tests.filter(t=>t.category==='pathology');\n  const imn=tests.filter(t=>t.category==='imaging');\n  const oth=tests.filter(t=>t.category!=='pathology'&&t.category!=='imaging');\n  let reply;\n  if(pth.length && !imn.length && !oth.length){ reply='✅ Yes — '+nm(pth)+' '+(pth.length>1?'are blood/urine tests':'is a blood/urine test')+' that we do at '+LAB.name+'.\\n\\nReply *1* to book a walk-in, or *2* for home collection.'; }\n  else if(imn.length && !pth.length){ reply='❌ '+nm(imn)+' '+(imn.length>1?'are *scan / imaging* tests':'is a *scan / imaging* test')+'. '+LAB.name+' is a *pathology lab* (blood & urine only), so we do not do '+(imn.length>1?'those':'that')+' here.'; }\n  else if(pth.length && imn.length){ reply='Here is what we can do:\\n✅ We DO: '+nm(pth)+' (blood/urine).\\n❌ We DO NOT: '+nm(imn)+' — those are scans/imaging (we are a pathology lab).\\n\\nReply *1* to book the tests we do.'; }\n  else { reply='We are a *pathology lab* (blood & urine tests). For '+nm(oth.length?oth:tests)+', please confirm with our desk: '+LAB.phones+'.'; }\n  return save(reply);\n}\n// ===== Report intake from staff group (status-only; real PDF via Cloud API in production) =====\nconst STAFF_GROUP='120363411817386712@g.us';\nif(isGroup){\n  if(fromRaw!==STAFF_GROUP) return [];\n  let gb=String(p.body||'').trim(); let testHint='';\n  if(gb.indexOf('|')>=0){const parts=gb.split('|');testHint=(parts[1]||'').trim();gb=parts[0];}\n  const ph=gb.replace(/[^0-9]/g,''); const last10=ph.slice(-10);\n  if(last10.length<10){ return [{json:{chatId:STAFF_GROUP,replyText:\"📄 To mark a report ready, post the patient's *10-digit number* as the caption of the PDF (optionally `number|Test`).\",doBook:false}}]; }\n  const rws=await lookup(last10); const fnd=(rws||[]).filter(x=>x&&x.found);\n  if(!fnd.length){ return [{json:{chatId:STAFF_GROUP,replyText:\"⚠️ No patient found for \"+last10+\". Please check the number.\",doBook:false}}]; }\n  let rr=fnd[0]; if(testHint){const m=fnd.find(x=>String(x.Test||'').toLowerCase().indexOf(testHint.toLowerCase())>=0); if(m)rr=m;}\n  const pText=\"📄 Hi \"+(rr.Name||'')+\", your *\"+(rr.Test||'report')+\"* from \"+LAB.name+\" is *ready*! ✅\\n\\nOur team will share the report with you shortly, or you can collect a copy at the lab (\"+LAB.area+\"). Stay healthy! 🌿\";\n  return [{json:{chatId:STAFF_GROUP,replyText:\"✅ Marked *\"+(rr.Name||last10)+\"* (\"+last10+\") — \"+(rr.Test||'report')+\" as *Ready* and notified the patient.\",doBook:false,doReport:true,patientChatId:'91'+last10+'@c.us',patientText:pText,voc:rr.VOC_id}}];\n}\n// push user message into history\ns.history.push({r:'u',t:text}); if(s.history.length>12)s.history=s.history.slice(-12);\nconst transcript=s.history.map(h=>(h.r==='u'?'Patient: ':'Assistant: ')+h.t).join('\\n');\n// greeting + number shortcuts (no LLM)\nif(['hi','hello','hey','hii','namaste','menu','start','restart','main menu'].indexOf(lc)>=0){s.history=[];s.pendingCancel=null;s.cancelOptions=null;return save(MENU);}\nif(s.cancelOptions && /[0-9]/.test(lc)){ const tok=lc.replace(/\\D/g,''); const pick=(s.cancelOptions||[]).find(o=>o.token===tok); s.cancelOptions=null; if(pick){ s.pendingCancel=pick.voc; return save(\"Cancel your *\"+pick.test+\"* (token #\"+pick.token+\")? Reply *YES* to confirm.\"); } }\nif(s.pendingCancel){ if(/^(y|yes|haan|haa|ha|confirm|ok|okay|kar do|kardo|cancel)/i.test(lc)){ const cv=s.pendingCancel; s.pendingCancel=null; return doCancel(cv); } if(/^(n|no|nahi|nahin|keep|rehne|rakho)/i.test(lc)){ s.pendingCancel=null; return save(\"\\uD83D\\uDC4D No problem \\u2014 your booking is unchanged. Reply MENU anytime.\"); } }\nif(lc==='1')return save(\"Sure! 📝 What's your *name*, and which *test* would you like?\");\nif(lc==='2')return save(\"🏠 Home collection — please share the *test* and your *area/address*, and our team will confirm a visit time.\");\nif(lc==='3'){const rows=await lookup(waPhone);return reportReply(rows);}\nif(lc==='4')return save(TIMINGS);\n// AI dialogue manager\nconst dec=await dialog(transcript);\nif(dec&&dec.action){const a=String(dec.action).toLowerCase();\n if(a==='menu')return save(MENU);\n if(a==='report_status'){const ph=String(dec.phone||'').replace(/\\D/g,'')||waPhone;const rows=await lookup(ph);return reportReply(rows);}\n if(a==='book_walkin'&&dec.name&&dec.test)return makeBooking(dec.name,dec.test);\n if(a==='book_home'&&dec.area)return makeHome(dec.name||'',dec.test||'',dec.area,dec.time||'');\n if(a==='cancel')return await cancelFlow();\n return save(dec.reply||MENU);\n}\n// fallback (Gemini unavailable)\nif(lc.indexOf('report')>=0||lc.indexOf('ready')>=0||lc.indexOf('result')>=0){const rows=await lookup(waPhone);return reportReply(rows);}\nif(lc.indexOf('home')>=0||lc.indexOf('collect')>=0)return save(\"🏠 Please share the *test* and your *area/address* for home collection.\");\nif(lc.indexOf('book')>=0||lc.indexOf('test')>=0||lc.indexOf('appoint')>=0)return save(\"Sure! 📝 What's your *name* and which *test*?\");\nif(lc.indexOf('cancel')>=0)return await cancelFlow();\nif(lc.indexOf('price')>=0||lc.indexOf('cost')>=0||lc.indexOf('rate')>=0||lc.indexOf('time')>=0||lc.indexOf('hour')>=0||lc.indexOf('open')>=0)return save(TIMINGS);\nreturn save(\"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options.\");\n"},"id":"d690cf6b-001d-4e1b-9781-0e93e7a7626b"},{"name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,-80],"continueOnFail":true,"parameters":{"method":"POST","url":"http://waha:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"<WAHA_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ session: 'default', chatId: $json.chatId, text: $json.replyText }) }}","options":{}},"id":"c1ab26e4-71c2-49d9-9186-1b707d48068c"},{"name":"Booked?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,120],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.doBook }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"8027ec05-01e0-4c77-83c0-6b53afeeba60"},{"name":"Make Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,120],"parameters":{"jsCode":"const it=$input.first().json;\nreturn [{json: it.bookingRow}];\n"},"id":"5564c661-8705-4378-bf56-a7c3a1b72992"},{"name":"Append Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,120],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"4fba0580-2292-4e57-8ef0-a7195d69a8c8"},{"name":"Report?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,320],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"r1","leftValue":"={{ $json.doReport }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"c6aa84c9-c679-4917-bae8-747bd531aad6"},{"name":"Notify Patient","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,320],"continueOnFail":true,"parameters":{"method":"POST","url":"http://waha:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"<WAHA_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ session: 'default', chatId: $json.patientChatId, text: $json.patientText }) }}","options":{}},"id":"cbc785e2-a02a-40a8-bc89-fc719f794cf3"},{"name":"Mark Ready Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"jsCode":"const it=$('Brain').first().json;\nreturn [{json:{VOC_id: it.voc, ReportStatus:'Ready', report_uploaded_at: new Date().toISOString()}}];\n"},"id":"00c30fca-ff85-47d9-b5c7-98dc79788b2b"},{"name":"Mark Ready","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1120,320],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"ae8d953a-7c44-4507-bccf-65fe501569f1"},{"name":"Cancel?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,520],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"x1","leftValue":"={{ $json.doCancel }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"891f92e9-5802-4463-9e1b-f7d4fec3c1f6"},{"name":"Make Cancel Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,520],"parameters":{"jsCode":"const it=$('Brain').first().json;\nreturn [{json:{VOC_id: it.cancelVoc, Status:'Cancelled'}}];\n"},"id":"6f5de800-6a08-4e4c-8a28-fca84f6fd07c"},{"name":"Mark Cancelled","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,520],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"70b69848-a2ac-4b63-8681-adc2b25cd9a7"}],"connections":{"Webhook":{"main":[[{"node":"Brain","type":"main","index":0}]]},"Brain":{"main":[[{"node":"Send WhatsApp","type":"main","index":0},{"node":"Booked?","type":"main","index":0},{"node":"Report?","type":"main","index":0},{"node":"Cancel?","type":"main","index":0}]]},"Booked?":{"main":[[{"node":"Make Row","type":"main","index":0}],[]]},"Make Row":{"main":[[{"node":"Append Row","type":"main","index":0}]]},"Report?":{"main":[[{"node":"Notify Patient","type":"main","index":0}],[]]},"Notify Patient":{"main":[[{"node":"Mark Ready Row","type":"main","index":0}]]},"Mark Ready Row":{"main":[[{"node":"Mark Ready","type":"main","index":0}]]},"Cancel?":{"main":[[{"node":"Make Cancel Row","type":"main","index":0}],[]]},"Make Cancel Row":{"main":[[{"node":"Mark Cancelled","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"sessions":{"918329914036":{"state":"IDLE","data":{},"history":[{"r":"b","t":"🧪 Welcome to Kushal Pathology Lab (CIDCO, N-5).\n\nHow can I help you today?\n\n1️⃣ Book a test (walk-in token)\n2️⃣ Home sample collection\n3️⃣ Report status\n4️⃣ Timings & prices\n\nReply with a number, or just tell me what you need."},{"r":"u","t":"ghar pe sample lene aao, naam Sunil, thyroid test, Ulkanagari"},{"r":"b","t":"Sure! 📝 What's your *name* and which *test*?"},{"r":"u","t":"I want to book a CBC test, my name is Ravi Kumar"},{"r":"b","t":"✅ *Booked!* Your token is *#8*.\n\n🧪 CBC test\n👤 Ravi Kumar\n🏷️ VOC-20260617-008\n📍 Kushal Pathology Lab, CIDCO, N-5\n🕖 7:00 AM – 11:00 PM (all days)\n\nPlease visit the lab and show token *#8* at the desk. We'll message you here when your report is ready. Reply MENU anytime.\n\n🌙 Note: we're currently *closed* (open 7 AM–11 PM). Your request is saved — our team will assist you first thing in the morning."}]},"918983340017":{"state":"HOME_DETAILS","data":{"test":"","name":""},"history":[{"r":"u","t":"but i never gave any sample"},{"r":"b","t":"Okay, I understand. How can I help you today?"}]},"918411914254":{"data":{},"history":[{"r":"b","t":"🧪 Welcome to Kushal Pathology Lab (CIDCO, N-5).\n\nHow can I help you today?\n\n1️⃣ Book a test (walk-in token)\n2️⃣ Home sample collection\n3️⃣ Report status\n4️⃣ Timings & prices\n\nReply with a number, or just tell me what you need."},{"r":"u","t":"I need to do blood teat"},{"r":"b","t":"Sure, we can help with blood tests. Which specific test are you looking for? And would you like to visit the lab or prefer home sample collection?"},{"r":"u","t":"Rbc test"},{"r":"b","t":"Okay, for the RBC test. Would you like to visit our lab or prefer home sample collection?"},{"r":"u","t":"Home"},{"r":"b","t":"Okay, for home collection of your RBC test. Could you please tell me your area or full address in Aurangabad for our team to visit?"},{"r":"u","t":"Chatrapati sambhaji nagar"},{"r":"b","t":"Great! And what is your name, please?"},{"r":"u","t":"Nayan"},{"r":"b","t":"🏠 *Home collection request received!* (Ref VOC-20260617-006)\n\n🧪 RBC test\n📍 Chatrapati sambhaji nagar\n\nOur team will *call you shortly* to confirm the visit. Reply MENU anytime."}]},"919742800214":{"data":{},"history":[{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."},{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."},{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."},{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."},{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."},{"r":"u","t":"For any queries, reach out to our support team between 8 AM and 7 PM: https://drinkprime.in/support"},{"r":"b","t":"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options."}]},"919168623027":{"data":{},"history":[{"r":"u","t":"Reminder"},{"r":"b","t":"Hello! What would you like a reminder about?"}]},"919823931152":{"data":{},"history":[{"r":"b","t":"🧪 Welcome to Kushal Pathology Lab (CIDCO, N-5).\n\nHow can I help you today?\n\n1️⃣ Book a test (walk-in token)\n2️⃣ Home sample collection\n3️⃣ Report status\n4️⃣ Timings & prices\n\nReply with a number, or just tell me what you need."},{"r":"u","t":"book a CBC test, my name is Cancel Test"},{"r":"b","t":"✅ *Booked!* Your token is *#10*.\n\n🧪 CBC test\n👤 Cancel Test\n🏷️ VOC-20260617-010\n📍 Kushal Pathology Lab, CIDCO, N-5\n🕖 7:00 AM – 11:00 PM (all days)\n\nPlease visit the lab and show token *#10* at the desk. We'll message you here when your report is ready. Reply MENU anytime."},{"r":"u","t":"cancel my test"},{"r":"b","t":"Cancel your *CBC test* (token #10)? Reply *YES* to confirm, or NO to keep it."},{"r":"u","t":"yes"},{"r":"b","t":"✅ Your booking has been *cancelled*. Reply 1 anytime to book again — take care! 🌿"}],"pendingCancel":null,"cancelOptions":null}},"counters":{"20260616":1,"20260617":10}}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","activeVersionId":"abb16d82-994c-47db-9af2-052a88eb2d83","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-06-16T18:09:31.878Z","createdAt":"2026-06-16T18:09:31.878Z","role":"workflow:owner","workflowId":"LpnFG9kwWAdQOkiw","projectId":"vjeKpcnDLTd7l9uC","project":{"updatedAt":"2026-06-09T06:24:50.479Z","createdAt":"2026-06-08T18:07:29.874Z","id":"vjeKpcnDLTd7l9uC","name":"abhishek sonawane <abhishek.sonaw@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a322d73f-bada-4a4f-b600-574326e56821"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-17T07:47:51.605Z","createdAt":"2026-06-17T07:47:51.605Z","versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","workflowId":"LpnFG9kwWAdQOkiw","nodes":[{"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"vocily-labs-in","responseMode":"onReceived","options":{}},"webhookId":"vocily-labs-in","id":"d2a7684c-e8cf-4334-8326-00faf627a58e"},{"name":"Brain","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"\n// === Vocily-Labs Brain v3 — context-aware AI dialogue manager + deterministic actions ===\nconst LAB={name:\"Kushal Pathology Lab\",area:\"CIDCO, N-5\",phones:\"+91 86001 64111 / +91 99213 00025\",hours:\"7:00 AM – 11:00 PM (all days)\",packages:[[\"Diabetic Package\",\"₹390\"],[\"Package A\",\"₹2,000\"],[\"Package B\",\"₹3,000\"],[\"Arthritis Package\",\"₹2,500\"],[\"Full Health Checkup (M/F)\",\"₹3,899\"]]};\nconst GEM_KEYS=[\"<GEMINI_API_KEY_1>\",\"<GEMINI_API_KEY_2>\",\"<GEMINI_API_KEY_3>\",\"<GEMINI_API_KEY_4>\"];\nconst LOOKUP_URL=\"https://n8n.rohinisonawane.com/webhook/vocily-labs-lookup\";\nconst wh=$('Webhook').first().json; const bodyTop=wh.body||wh; const p=bodyTop.payload||bodyTop;\nconst fromRaw=p.from||p.chatId||''; let text=String(p.body||p.text||'').trim();\nconst isGroup=String(fromRaw).includes('@g.us')||String(fromRaw).includes('@broadcast');\nconst altJid=((((p._data||{}).key||{}).remoteJidAlt)||'');\nlet src=altJid||fromRaw; let digits=String(src).replace(/\\D/g,'');\nif(digits.length===11&&digits[0]==='0')digits='91'+digits.slice(1);\nif(digits.length===10)digits='91'+digits;\nlet chatId; if(digits && (altJid || !String(fromRaw).includes('@lid'))) chatId=digits+'@c.us'; else chatId=String(fromRaw);\nconst waPhone=digits;\nif(!chatId||!text||p.fromMe){ return []; }\nconst store=$getWorkflowStaticData('global'); if(!store.sessions)store.sessions={}; if(!store.counters)store.counters={};\nlet s=store.sessions[waPhone]||{data:{},history:[]}; if(!s.history)s.history=[];\nconst lc=text.toLowerCase().trim();\nconst istDate=new Date().toLocaleDateString('en-CA',{timeZone:'Asia/Kolkata'}); const compact=istDate.replace(/-/g,''); const nowISO=new Date().toISOString();\nconst istH=Number(new Intl.DateTimeFormat('en-GB',{timeZone:'Asia/Kolkata',hour:'numeric',hourCycle:'h23'}).format(new Date()));\nconst isOpen=(istH>=7 && istH<23);\nconst AH=isOpen?\"\":\"\\n\\n\\uD83C\\uDF19 Note: we're currently *closed* (open 7 AM\\u201311 PM). Your request is saved \\u2014 our team will assist you first thing in the morning.\";\nconst save=(reply,extra)=>{s.history.push({r:'b',t:reply}); if(s.history.length>12)s.history=s.history.slice(-12); store.sessions[waPhone]=s; return [{json:Object.assign({chatId,replyText:reply,waPhone,doBook:false},extra||{})}];};\nconst pkgText=LAB.packages.map(x=>\"• \"+x[0]+\" — \"+x[1]).join(\"\\n\");\nconst MENU=\"🧪 Welcome to \"+LAB.name+\" (\"+LAB.area+\").\\n\\nHow can I help you today?\\n\\n1️⃣ Book a test (walk-in token)\\n2️⃣ Home sample collection\\n3️⃣ Report status\\n4️⃣ Timings & prices\\n\\nReply with a number, or just tell me what you need.\";\nconst TIMINGS=\"🕖 *Timings:* \"+LAB.hours+\"\\n📍 *Location:* \"+LAB.area+\"\\n☎️ \"+LAB.phones+\"\\n\\n💰 *Popular packages:*\\n\"+pkgText+\"\\n\\nReply 1 to book, or MENU for options.\";\nconst newRef=()=>{const n=(store.counters[compact]||0)+1;store.counters[compact]=n;return {n,voc:\"VOC-\"+compact+\"-\"+String(n).padStart(3,'0')};};\nconst makeBooking=(name,test)=>{const r=newRef();const row={VOC_id:r.voc,Token:r.n,Name:name,Phone:waPhone,Test:test,Mode:\"Walk-in\",Address:\"\",ApptISO:\"\",Status:\"NEW\",ReportStatus:\"Pending\",report_uploaded_at:\"\",report_sent_at:\"\",Source:(isOpen?\"WhatsApp\":\"WhatsApp (after-hours)\"),consent_flag:\"Y\",BookedAt:nowISO,Reminder:\"\",Followup:\"\"};const reply=\"✅ *Booked!* Your token is *#\"+r.n+\"*.\\n\\n🧪 \"+test+\"\\n👤 \"+name+\"\\n🏷️ \"+r.voc+\"\\n📍 \"+LAB.name+\", \"+LAB.area+\"\\n🕖 \"+LAB.hours+\"\\n\\nPlease visit the lab and show token *#\"+r.n+\"* at the desk. We'll message you here when your report is ready. Reply MENU anytime.\";return save(reply+AH,{doBook:true,bookingRow:row});};\nconst makeHome=(name,test,addr,time)=>{const r=newRef();const a=addr+(time?(\" | preferred: \"+time):\"\");const row={VOC_id:r.voc,Token:r.n,Name:name||\"\",Phone:waPhone,Test:test||\"(to confirm)\",Mode:\"Home\",Address:a,ApptISO:time||\"\",Status:\"NEW\",ReportStatus:\"Pending\",report_uploaded_at:\"\",report_sent_at:\"\",Source:(isOpen?\"WhatsApp\":\"WhatsApp (after-hours)\"),consent_flag:\"Y\",BookedAt:nowISO,Reminder:\"\",Followup:\"\"};const reply=\"🏠 *Home collection request received!* (Ref \"+r.voc+\")\\n\\n🧪 \"+(test||\"as discussed\")+\"\\n📍 \"+addr+(time?(\"\\n🕒 Preferred time: \"+time):\"\")+\"\\n\\nOur team will *call you shortly* to confirm the visit. Reply MENU anytime.\";return save(reply+AH,{doBook:true,bookingRow:row});};\nconst lookup=async(phone)=>{try{const r=await this.helpers.httpRequest({method:'GET',url:LOOKUP_URL,qs:{phone},json:true});return Array.isArray(r)?r:[r];}catch(e){return [{found:false}];}};\nconst reportReply=(rows)=>{const found=rows.filter(r=>r&&r.found);if(!found.length){return save(\"🔎 I couldn't find a booking under this number. Please reply with the *mobile number* you registered at the lab (10 digits).\");}let msg=\"🔎 *Your report status:*\";for(const r of found){const st=String(r.ReportStatus||'').toLowerCase();if(st.indexOf('ready')>=0)msg+=\"\\n✅ \"+r.Test+\" — *Ready*. Our desk will share the report here shortly.\";else if(st.indexOf('process')>=0)msg+=\"\\n⏳ \"+r.Test+\" — *In process*. We'll send it here as soon as it's ready.\";else if(st.indexOf('sent')>=0)msg+=\"\\n📄 \"+r.Test+\" — already *sent*\"+(r.report_sent_at?(\" on \"+r.report_sent_at):\"\")+\".\";else msg+=\"\\n• \"+r.Test+\" — \"+(r.ReportStatus||'Pending');}return save(msg+\"\\n\\nReply MENU for more options.\");};\nconst doCancel=(voc)=>{ return save(\"\\u2705 Your booking has been *cancelled*. Reply 1 anytime to book again \\u2014 take care! \\uD83C\\uDF3F\",{doCancel:true,cancelVoc:voc}); };\nconst cancelFlow=async()=>{\n  const rows=await lookup(waPhone);\n  const open=(rows||[]).filter(r=>r&&r.found&&String(r.Status||'').toUpperCase()==='NEW');\n  if(!open.length) return save(\"You don't have any open booking to cancel under this number. If your sample is already collected, please call us: \"+LAB.phones+\".\");\n  if(open.length===1){ const r=open[0]; s.pendingCancel=r.VOC_id; return save(\"Cancel your *\"+(r.Test||'booking')+\"*\"+(r.Token?(\" (token #\"+r.Token+\")\"):\"\")+\"? Reply *YES* to confirm, or NO to keep it.\"); }\n  s.cancelOptions=open.map(r=>({voc:r.VOC_id,token:String(r.Token||''),test:r.Test||''}));\n  let m=\"You have these open bookings:\\n\"; open.forEach(r=>{m+=\"\\u2022 token #\"+(r.Token||'?')+\" \\u2014 \"+(r.Test||'')+\"\\n\";});\n  return save(m+\"\\nReply the *token number* you want to cancel.\");\n};\nconst dialog=async(transcript)=>{const sys=\"You are the friendly WhatsApp front desk for \"+LAB.name+\", a pathology lab in Aurangabad, India. Reply in the patient's own language (English/Hindi/Marathi/Hinglish), warm and concise.\\nLab info: hours \"+LAB.hours+\"; location \"+LAB.area+\"; phones \"+LAB.phones+\". Pathology only (blood/urine; NO X-ray/USG/scans). Published packages: \"+LAB.packages.map(x=>x[0]+\" \"+x[1]).join(\", \")+\". Other individual test prices are NOT published — for those tell the patient to confirm at the desk/phone. NEVER invent prices or tests.\\nDecide the next step using the WHOLE conversation (consider context, not just the last line). Respond ONLY as strict JSON: {\\\"action\\\":\\\"\\\",\\\"name\\\":\\\"\\\",\\\"test\\\":\\\"\\\",\\\"area\\\":\\\"\\\",\\\"time\\\":\\\"\\\",\\\"phone\\\":\\\"\\\",\\\"reply\\\":\\\"\\\"}.\\naction is one of: ask, book_walkin, book_home, report_status, cancel, answer, menu. (cancel = the patient wants to CANCEL an existing booking / test / home collection, e.g. 'cancel my test', 'booking cancel karna hai'.)\\n- book_walkin (DEFAULT for any booking): patient wants a test done / to book a test / visit the lab, and you have their name AND test. Treat plain 'book a test' as walk-in.\\n- book_home: ONLY if the patient EXPLICITLY asks for home collection / sample pickup at home / 'ghar'. Needs the test AND the PATIENT'S OWN home address. NEVER use the lab's location (CIDCO / N-5) as the address; if no patient address is given, use action 'ask' to request it.\\n- report_status: patient asks if their report/result is ready. Put a registered mobile number in 'phone' if they gave one, else ''.\\n- answer: prices, timings, location, fasting/preparation, clarifications, complaints, small talk — put the FULL reply in 'reply'.\\n- ask: you still need one detail to finish a booking — put the question in 'reply' and carry forward known name/test/area/time in their fields.\\n- menu: patient greets or asks for options.\\nAlways fill name/test/area/time/phone with everything known from the WHOLE conversation so far.\\nIf the history shows a booking or home-collection was ALREADY confirmed, do NOT create another — use 'answer' for follow-ups (e.g., if they ask when the team will visit, reassure that the team will call to confirm; do NOT ask for the area again).\\nFor book_walkin/book_home/report_status set 'reply' to '' (the system sends the official confirmation).\";const body={contents:[{parts:[{text:sys+\"\\n\\nCONVERSATION SO FAR:\\n\"+transcript+\"\\n\\nReturn ONLY the JSON decision for the latest Patient message.\"}]}],generationConfig:{responseMimeType:\"application/json\",temperature:0.3}};for(const k of GEM_KEYS){try{const r=await this.helpers.httpRequest({method:'POST',url:'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key='+k,headers:{'Content-Type':'application/json'},body,json:true,timeout:20000});const cand=(r.candidates||[])[0]||{};const txt=(((cand.content||{}).parts||[])[0]||{}).text||'{}';return JSON.parse(txt);}catch(e){}}return null;};\n// ===== Report intake from staff group (status-only; real PDF via Cloud API in production) =====\nconst STAFF_GROUP='120363411817386712@g.us';\nif(isGroup){\n  if(fromRaw!==STAFF_GROUP) return [];\n  let gb=String(p.body||'').trim(); let testHint='';\n  if(gb.indexOf('|')>=0){const parts=gb.split('|');testHint=(parts[1]||'').trim();gb=parts[0];}\n  const ph=gb.replace(/[^0-9]/g,''); const last10=ph.slice(-10);\n  if(last10.length<10){ return [{json:{chatId:STAFF_GROUP,replyText:\"📄 To mark a report ready, post the patient's *10-digit number* as the caption of the PDF (optionally `number|Test`).\",doBook:false}}]; }\n  const rws=await lookup(last10); const fnd=(rws||[]).filter(x=>x&&x.found);\n  if(!fnd.length){ return [{json:{chatId:STAFF_GROUP,replyText:\"⚠️ No patient found for \"+last10+\". Please check the number.\",doBook:false}}]; }\n  let rr=fnd[0]; if(testHint){const m=fnd.find(x=>String(x.Test||'').toLowerCase().indexOf(testHint.toLowerCase())>=0); if(m)rr=m;}\n  const pText=\"📄 Hi \"+(rr.Name||'')+\", your *\"+(rr.Test||'report')+\"* from \"+LAB.name+\" is *ready*! ✅\\n\\nOur team will share the report with you shortly, or you can collect a copy at the lab (\"+LAB.area+\"). Stay healthy! 🌿\";\n  return [{json:{chatId:STAFF_GROUP,replyText:\"✅ Marked *\"+(rr.Name||last10)+\"* (\"+last10+\") — \"+(rr.Test||'report')+\" as *Ready* and notified the patient.\",doBook:false,doReport:true,patientChatId:'91'+last10+'@c.us',patientText:pText,voc:rr.VOC_id}}];\n}\n// push user message into history\ns.history.push({r:'u',t:text}); if(s.history.length>12)s.history=s.history.slice(-12);\nconst transcript=s.history.map(h=>(h.r==='u'?'Patient: ':'Assistant: ')+h.t).join('\\n');\n// greeting + number shortcuts (no LLM)\nif(['hi','hello','hey','hii','namaste','menu','start','restart','main menu'].indexOf(lc)>=0){s.history=[];s.pendingCancel=null;s.cancelOptions=null;return save(MENU);}\nif(s.cancelOptions && /[0-9]/.test(lc)){ const tok=lc.replace(/\\D/g,''); const pick=(s.cancelOptions||[]).find(o=>o.token===tok); s.cancelOptions=null; if(pick){ s.pendingCancel=pick.voc; return save(\"Cancel your *\"+pick.test+\"* (token #\"+pick.token+\")? Reply *YES* to confirm.\"); } }\nif(s.pendingCancel){ if(/^(y|yes|haan|haa|ha|confirm|ok|okay|kar do|kardo|cancel)/i.test(lc)){ const cv=s.pendingCancel; s.pendingCancel=null; return doCancel(cv); } if(/^(n|no|nahi|nahin|keep|rehne|rakho)/i.test(lc)){ s.pendingCancel=null; return save(\"\\uD83D\\uDC4D No problem \\u2014 your booking is unchanged. Reply MENU anytime.\"); } }\nif(lc==='1')return save(\"Sure! 📝 What's your *name*, and which *test* would you like?\");\nif(lc==='2')return save(\"🏠 Home collection — please share the *test* and your *area/address*, and our team will confirm a visit time.\");\nif(lc==='3'){const rows=await lookup(waPhone);return reportReply(rows);}\nif(lc==='4')return save(TIMINGS);\n// AI dialogue manager\nconst dec=await dialog(transcript);\nif(dec&&dec.action){const a=String(dec.action).toLowerCase();\n if(a==='menu')return save(MENU);\n if(a==='report_status'){const ph=String(dec.phone||'').replace(/\\D/g,'')||waPhone;const rows=await lookup(ph);return reportReply(rows);}\n if(a==='book_walkin'&&dec.name&&dec.test)return makeBooking(dec.name,dec.test);\n if(a==='book_home'&&dec.area)return makeHome(dec.name||'',dec.test||'',dec.area,dec.time||'');\n if(a==='cancel')return await cancelFlow();\n return save(dec.reply||MENU);\n}\n// fallback (Gemini unavailable)\nif(lc.indexOf('report')>=0||lc.indexOf('ready')>=0||lc.indexOf('result')>=0){const rows=await lookup(waPhone);return reportReply(rows);}\nif(lc.indexOf('home')>=0||lc.indexOf('collect')>=0)return save(\"🏠 Please share the *test* and your *area/address* for home collection.\");\nif(lc.indexOf('book')>=0||lc.indexOf('test')>=0||lc.indexOf('appoint')>=0)return save(\"Sure! 📝 What's your *name* and which *test*?\");\nif(lc.indexOf('cancel')>=0)return await cancelFlow();\nif(lc.indexOf('price')>=0||lc.indexOf('cost')>=0||lc.indexOf('rate')>=0||lc.indexOf('time')>=0||lc.indexOf('hour')>=0||lc.indexOf('open')>=0)return save(TIMINGS);\nreturn save(\"Sorry, I didn't quite catch that 🙂 — could you say it another way? Or reply *MENU* for options.\");\n"},"id":"d690cf6b-001d-4e1b-9781-0e93e7a7626b"},{"name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,-80],"continueOnFail":true,"parameters":{"method":"POST","url":"http://waha:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"<WAHA_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ session: 'default', chatId: $json.chatId, text: $json.replyText }) }}","options":{}},"id":"c1ab26e4-71c2-49d9-9186-1b707d48068c"},{"name":"Booked?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,120],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.doBook }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"8027ec05-01e0-4c77-83c0-6b53afeeba60"},{"name":"Make Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,120],"parameters":{"jsCode":"const it=$input.first().json;\nreturn [{json: it.bookingRow}];\n"},"id":"5564c661-8705-4378-bf56-a7c3a1b72992"},{"name":"Append Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,120],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"4fba0580-2292-4e57-8ef0-a7195d69a8c8"},{"name":"Report?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,320],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"r1","leftValue":"={{ $json.doReport }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"c6aa84c9-c679-4917-bae8-747bd531aad6"},{"name":"Notify Patient","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,320],"continueOnFail":true,"parameters":{"method":"POST","url":"http://waha:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"<WAHA_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ session: 'default', chatId: $json.patientChatId, text: $json.patientText }) }}","options":{}},"id":"cbc785e2-a02a-40a8-bc89-fc719f794cf3"},{"name":"Mark Ready Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"jsCode":"const it=$('Brain').first().json;\nreturn [{json:{VOC_id: it.voc, ReportStatus:'Ready', report_uploaded_at: new Date().toISOString()}}];\n"},"id":"00c30fca-ff85-47d9-b5c7-98dc79788b2b"},{"name":"Mark Ready","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1120,320],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"ae8d953a-7c44-4507-bccf-65fe501569f1"},{"name":"Cancel?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,520],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"x1","leftValue":"={{ $json.doCancel }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}},"id":"891f92e9-5802-4463-9e1b-f7d4fec3c1f6"},{"name":"Make Cancel Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,520],"parameters":{"jsCode":"const it=$('Brain').first().json;\nreturn [{json:{VOC_id: it.cancelVoc, Status:'Cancelled'}}];\n"},"id":"6f5de800-6a08-4e4c-8a28-fca84f6fd07c"},{"name":"Mark Cancelled","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,520],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"70b69848-a2ac-4b63-8681-adc2b25cd9a7"}],"connections":{"Webhook":{"main":[[{"node":"Brain","type":"main","index":0}]]},"Brain":{"main":[[{"node":"Send WhatsApp","type":"main","index":0},{"node":"Booked?","type":"main","index":0},{"node":"Report?","type":"main","index":0},{"node":"Cancel?","type":"main","index":0}]]},"Booked?":{"main":[[{"node":"Make Row","type":"main","index":0}],[]]},"Make Row":{"main":[[{"node":"Append Row","type":"main","index":0}]]},"Report?":{"main":[[{"node":"Notify Patient","type":"main","index":0}],[]]},"Notify Patient":{"main":[[{"node":"Mark Ready Row","type":"main","index":0}]]},"Mark Ready Row":{"main":[[{"node":"Mark Ready","type":"main","index":0}]]},"Cancel?":{"main":[[{"node":"Make Cancel Row","type":"main","index":0}],[]]},"Make Cancel Row":{"main":[[{"node":"Mark Cancelled","type":"main","index":0}]]}},"nodeGroups":[],"authors":"abhishek sonawane","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-17T07:47:51.673Z","id":201,"workflowId":"LpnFG9kwWAdQOkiw","versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","event":"deactivated","userId":"a322d73f-bada-4a4f-b600-574326e56821"},{"createdAt":"2026-06-17T07:47:51.703Z","id":202,"workflowId":"LpnFG9kwWAdQOkiw","versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","event":"activated","userId":"a322d73f-bada-4a4f-b600-574326e56821"},{"createdAt":"2026-06-17T07:47:52.148Z","id":203,"workflowId":"LpnFG9kwWAdQOkiw","versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","event":"deactivated","userId":"a322d73f-bada-4a4f-b600-574326e56821"},{"createdAt":"2026-06-17T07:47:52.198Z","id":204,"workflowId":"LpnFG9kwWAdQOkiw","versionId":"abb16d82-994c-47db-9af2-052a88eb2d83","event":"activated","userId":"a322d73f-bada-4a4f-b600-574326e56821"}]}}