workflows/Vocily-Labs_Reminders.json
{"updatedAt":"2026-06-16T19:43:58.579Z","createdAt":"2026-06-16T19:43:58.579Z","id":"ycLwHgDbI4qqnY8C","name":"Vocily-Labs Reminders","description":null,"active":false,"isArchived":false,"nodes":[{"name":"Every 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"8425fa12-d02a-47ca-9b1a-5240f3cdc74f"},{"name":"Read Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"parameters":{"documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"2b4ef39d-3e4f-4064-9f38-1d8a77e59a20"},{"name":"Find Due","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"parameters":{"jsCode":"\nconst rows=$input.all().map(i=>i.json);\nconst now=Date.now(); const stamp=new Date().toISOString();\nconst istH=Number(new Intl.DateTimeFormat('en-GB',{timeZone:'Asia/Kolkata',hour:'numeric',hourCycle:'h23'}).format(new Date()));\nconst isOpen=(istH>=7&&istH<23);\nconst waId=(p)=>{let d=String(p||'').replace(/\\D/g,'');if(d.length===10)d='91'+d;else if(d.length===11&&d[0]==='0')d='91'+d.slice(1);return d?d+'@c.us':'';};\nconst out=[];\nfor(const r of rows){\n  const chat=waId(r.Phone); if(!chat) continue;\n  if(String(r.Status||'').toLowerCase().indexOf('cancel')>=0) continue;\n  if(String(r.Source||'').toLowerCase().indexOf('seed')>=0) continue;\n  const name=r.Name||'there'; const test=r.Test||'your test'; const token=r.Token; const voc=r.VOC_id;\n  const booked=Date.parse(r.BookedAt||0); const hrs=isNaN(booked)?0:(now-booked)/3600000;\n  const afterHours=String(r.Source||'').indexOf('after-hours')>=0;\n  if(afterHours && String(r.Status||'')==='NEW' && !r.Reminder && isOpen){\n    out.push({json:{VOC_id:voc,Reminder:stamp,wa_chat_id:chat,wa_text:\"🌅 Good morning \"+name+\"! Kushal Pathology is now *open* (7 AM–11 PM). Your \"+test+\" (token #\"+token+\") is ready to be done — visit us anytime today. 🙏\"}});\n  } else if(String(r.Status||'')==='NEW' && !r.Followup && hrs>=48){\n    out.push({json:{VOC_id:voc,Followup:stamp,wa_chat_id:chat,wa_text:\"🧪 Hi \"+name+\", a gentle reminder — your \"+test+\" (token #\"+token+\") booking at Kushal Pathology is still open. We're open 7 AM–11 PM, all days. Visit anytime! 🙏\"}});\n  }\n}\nreturn out;\n"},"id":"88f24ac1-7962-4a74-b97e-64326cff62c6"},{"name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-80],"continueOnFail":true,"parameters":{"method":"POST","url":"http://waha:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"<WAHA_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ session: 'default', chatId: $json.wa_chat_id, text: $json.wa_text }) }}","options":{}},"id":"edb6fef9-a1cd-406a-aaea-78286dcf873c"},{"name":"Clean","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,120],"parameters":{"jsCode":"return $input.all().map(i=>{const j=i.json;const o={VOC_id:j.VOC_id};if(j.Reminder)o.Reminder=j.Reminder;if(j.Followup)o.Followup=j.Followup;return {json:o};});"},"id":"04d2ad8a-c505-438d-be24-abcb2adfa0f0"},{"name":"Mark Sent","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,120],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vown-S8-2cjs5r-YTLeR0bbOSMov-TwSfX4yhvry5sY","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["VOC_id"],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"BmsFNZFrUKr65DKi","name":"Google Sheets account"}},"id":"4b677aa6-9f92-4e4e-8d8b-8de7363f4b3c"}],"connections":{"Every 15 min":{"main":[[{"node":"Read Sheet","type":"main","index":0}]]},"Read Sheet":{"main":[[{"node":"Find Due","type":"main","index":0}]]},"Find Due":{"main":[[{"node":"Send WhatsApp","type":"main","index":0},{"node":"Clean","type":"main","index":0}]]},"Clean":{"main":[[{"node":"Mark Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"e7c42518-e1aa-4d46-afc3-6cfe7eb05555","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-06-16T19:43:58.579Z","createdAt":"2026-06-16T19:43:58.579Z","role":"workflow:owner","workflowId":"ycLwHgDbI4qqnY8C","projectId":"vjeKpcnDLTd7l9uC","project":{"updatedAt":"2026-06-09T06:24:50.479Z","createdAt":"2026-06-08T18:07:29.874Z","id":"vjeKpcnDLTd7l9uC","name":"abhishek sonawane <abhishek.sonaw@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a322d73f-bada-4a4f-b600-574326e56821"}}],"tags":[],"activeVersion":null}